* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body, html{
    width: 100%;
    height: 100%;
}


#map{
    width: 100%;
    height: 100%;
}

.leaflet-tooltip {
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 3px 6px;
    font-size: 12px;
}